@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
:root {
    --show: 0px;
    --clr-edit: rgba(0, 255, 13, 0.774);

    --mx-wdth: 940px;

    --mrgart: 8%;
    --pddng: 8%;
    --pddng-sec: 0rem;
    --border: var(--show) solid #ff4ee292;
    /* colors */
    --color-white: rgba(0, 0, 0, 0.85);
    --color-white-decor: rgba(255, 255, 255, 0.63);
    --bg: #FFFF;
    /* --border-card: 1px solid rgba(205, 205, 205, 0.2); */
    --border-card: none;
    /* color palette */
    
    --clr-01: rgba(0, 255, 13, 0.774);
    --clr-02: rgba(2, 115, 115);


    --clr-bg-01:rgba(252, 252, 245, 1);
    --clr-bg-02:rgba(212, 213, 250, 1);
    --clr-bg-03:rgba(198, 227, 225, 1);

}
@media screen and (min-width: 550px) {
    :root {
        --padding: 4%;
    }
}
body{
    background: var(--clr-bg-01);
    display: grid;
    grid-template-columns: var(--pddng) repeat(4, 1fr) var(--pddng);
    grid-template-rows: auto;
    overflow-x: hidden;
}
h1{
    color: var(--color-white);
    font-weight: 900;
    font-family: 'Abhaya Libre', serif;
    letter-spacing: 0.1rem;
    font-size: 4.9rem;
    width: fit-content;
    /* font-size: clamp(2.5rem, 1.6200rem + 3.2000vw, 3.5rem); */
    /* CLAMP 940px*/
    /* font-size: 3.5rem; */
    /* CLAMP 440px*/
    /* font-size: 2.5rem; */
    text-transform: uppercase;
    text-align: center;
}
h2{
    color: var(--color-white);
    font-weight: 900;
    font-family: 'Abhaya Libre', serif;
    letter-spacing: 0;
    font-size: 3.9rem;
    /* font-size: clamp(2.5rem, 1.6200rem + 3.2000vw, 3.5rem); */
    /* CLAMP 940px*/
    /* font-size: 3.5rem; */
    /* CLAMP 440px*/
    /* font-size: 2.5rem; */
    text-transform: none;
    text-align: right;
}
p{
    color: var(--color-white);
    font-family: 'Abhaya Libre', serif;
    font-size: 1.5rem;
    /* font-size: clamp(1rem, 0.8680rem + 0.4800vw, 1.15rem); */
    /* CLAMP 940px*/
    /* font-size: 1.15rem; */
    /* CLAMP 440px*/
    /* font-size: 1rem; */
    font-weight: 800;
    border: var(--border);
}
a1, button{
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Abhaya Libre', serif;
    /* CLAMP 1680px*/
    font-size: 1.125rem;
    /* CLAMP 375px*/
    /* font-size: 16px; */
    /* font-size: 16px; */
    border-radius: 14px;
    padding: 2% 4%;
    /* CLAMP */
    background: var(--clr-05);
    text-align: center;
    cursor: pointer;
    border: var(--border-card);
}
a1:hover{
    background: var(--color04);
}
@media screen and (max-width: 700px) {
    h1{
        font-size: 3.3rem;
    }
    h2{
        font-size: 2.8rem;
    }
    p{
        font-size: 1.3rem;
    }
}
/* main */
.mn__{
    grid-column: 1/-1;
    grid-row: 1;
    background: transparent;
    height: 100vh;  
    max-height: -webkit-fill-available;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% 85%;
    padding: 0 var(--pddng);
}
.mn__ *{
    border: var(--border);
}
.mn__ header{
    grid-column: 1/-1;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
}
.lg{
    display: flex;
    margin: auto auto 0% 0%;
}
.lg img{
    height: 6rem;
    width: auto;
    object-fit: contain;
}
.scls{
    display: flex;
    margin: auto 0% auto auto;
}
.scls img{
    height: 2.5rem !important;
    width: auto !important;
    padding: 0.5rem;
    margin: auto;
}
@media screen and (max-width: 700px) {
    .mn__ header{
        grid-column: 1/-1;
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 2rem;
    }
    .lg{
        display: flex;
        margin: auto;
    }
    .scls{
        display: flex;
        margin: auto;
    }
}
/* section */
.cntnt{
    grid-column: 1/-1;
    grid-row: 2;
    display: flex;
    position: relative;
    z-index: 0;
}
.cntnt-img{
    position: absolute;
    right: -10rem;
    bottom: 0rem;

    object-fit: contain;
    max-height: 100%;
    height: 100%;
    width: 70rem;

    z-index: 1;
}
.sct-links{
    width: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 10;
}
.sct-links div{
    width: 100%;
}
.sct-links img{
    display: flex;

    max-height: 6.8rem;
    height: 100%;
    width: 100%;
    object-fit: contain;

    margin: auto;
}
@media screen and (max-width: 700px) {
    .cntnt-img{
        position: absolute;
        right: auto !important;
        bottom: 0rem;
    
        object-fit: contain;
        max-height: 100%;
        height: 90% !important;
        width: 60rem;
    
        z-index: 1;

        display: flex !important;
        margin: auto !important;
    }
    .sct-links{
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 10;
        margin: auto !important;
    }
    .sct-links img{
        display: flex;
    
        max-height: 7rem;
        height: 100%;
        width: 100%;
        object-fit: contain;
    
        margin: auto;
    }
}
/*deep brain */
.dp__{
    grid-column: 1/-1;
    grid-row: 2;
    background: var(--clr-bg-03);
    height: auto;
    position: relative;

    min-height: 600px;

    margin: 5rem var(--pddng);
    border-radius: 60px;

    z-index: 0;
    display: grid;
    grid-template-columns: var(--pddng-sec) 1fr 1.2fr var(--pddng-sec);
}
.dp_img{
    position: absolute !important;
    top: 2rem !important;
    left: 2rem !important;
    object-fit: contain;

    grid-column: none !important;
    width: 12rem !important;
    height: 11.5rem !important;
    z-index: 1;
}
.dp_txt{
    grid-column: 2;
    width: 80%;
    margin: auto 0 auto auto;
    z-index: 10;
}
.dp_txt_h1{
    border: var(--border);
    width: fit-content;
    margin: auto auto 2rem 1rem;
}
.dp_txt p{
    border: var(--border);
    margin-bottom: 2rem;
}
.dp_hd{
    height: 10rem !important;
    width: auto;
    border: var(--border);
}
.dp__ img{
    height: fit-content;
    width: 33rem;
    margin: 0 auto;
    object-fit: contain;
    border: var(--border);
}
.dp_images{
    grid-column: 3;
    grid-row: 1;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 700px) {
    .dp__{
        grid-column: 1/-1;
        grid-row: 2;
        background: var(--clr-bg-03);
        height: auto;
        min-height: 600px;

        position: relative;
    
        margin: 5rem var(--pddng);
        border-radius: 60px;
    
        z-index: 0;
        display: flex !important;
        flex-direction: column;
    }
    .dp_images{
        margin-right: 0px !important;
        padding-bottom: 1rem;
    }
    .dp_img{
        position: absolute !important;
        top: 0.5rem !important;
        left: 0.1rem !important;
        height: 8rem !important;
        width: 10rem !important;
        margin: 0 !important;
    }
    .dp_txt_h1{
        border: var(--border);
        width: fit-content;
        margin: auto !important;
    }
    .dp_txt{
        width: 90% !important;
        margin: auto !important;
        z-index: 10;
        padding: 4rem 0rem 6rem 0rem;
        height: fit-content !important;
        display: flex;
        flex-direction: column;
    }
    .dp__ img{    
        height: fit-content;
        padding: 0 !important;
        width: 80%;
        margin: auto;
        object-fit: contain;
        border: var(--border);
    }
}
/*  */
.chll__{
    grid-column: 1/-1;
    grid-row: 3;

    position: relative;

    background: var(--clr-bg-02);
    height: auto;
    display: grid;
    grid-template-columns: var(--pddng-sec) 1fr 1fr var(--pddng-sec);
    grid-template-rows: auto;
    min-height: 600px;

    border-radius: 60px;

    margin: 0% var(--pddng);

    z-index: 0;
}
.chll__ *{
    border: var(--border);
}
.chll_h1{
    width: fit-content !important;
    margin: auto;
}

.chll_txt{
    grid-column: 2;
    grid-row: 1;
    width: 84%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    z-index: 10;
}
.chll_txt article{
    margin-bottom: 1rem;
}
.chll_txt p{
    margin-bottom: 1rem;
}
.chll_txt_hd{
    background: violet;
    width: 100%;
    height: auto !important;
    margin-bottom: 1rem;
}
.chll_txt_ap{
    width: 24rem !important;
    height: fit-content !important;
    margin: auto auto auto 0 !important;
}
.chll__img{
    grid-column: 3;
    grid-row: 1;
    margin-right: 60px;
}
.chll__ img{
    height: auto;
    width: 100%;
    object-fit: contain;
}
.chll_luna_img{

    position: absolute !important;
    top: -1rem !important;
    left: -1rem !important;
    object-fit: contain;

    width: 15rem !important;
    height: 16.5rem !important;
    z-index: 1;

}
.chll_img{
    height: 50rem !important;
    width: 100%;
    object-fit: contain;
}
@media screen and (max-width: 700px) {
    .chll__{
        position: relative;
    
        background: var(--clr-bg-02);
        height: auto;
        display: flex !important;
        flex-direction: column !important;
        min-height: 600px;
    
        border-radius: 60px;
    
        margin: 0% var(--pddng);
    
        z-index: 0;
    }
    .chll_txt{
        padding: 4rem 0;
    }
    .chll__img{
        height: fit-content !important;
        width: 100%;
        padding: 0;
        margin: auto !important;
        margin-right: auto !important;
    }
    .chll_img{
        height: auto !important;
        width: 100%;
        object-fit: contain;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    .chll_luna_img{

        position: absolute !important;
        top: -2rem !important;
        left: -1rem !important;
        object-fit: contain;
    
        width: 10rem !important;
        height: 13rem !important;
        z-index: 1;
    }
    .chll_txt_ap{
        width: 19rem !important;
        height: fit-content !important;
        margin: auto auto auto 0 !important;
    }
}
/* rsm */
.rsm__{
    grid-column: 1/-1;
    grid-row: 4;

    height: auto;

    display: flex;
    justify-content: center;
}
.rsm__ h1{
    color: white;
    background: rgba(0, 0, 0, 0.856);
    font-weight: 900;
    font-family: 'Abhaya Libre', serif;
    letter-spacing: clamp(0rem, -0.1935rem + 0.9677vw, 0.375rem);
    font-size: 1.5rem;
    width: fit-content;
    text-transform: uppercase;
    text-align: center;
}
.rsm__ img{
    height: 25rem;
    width: auto;
    object-fit: contain;
}
.rsm_cnt{
    display: flex;
}
.rsm_txt{
    display: flex;
    flex-direction: column;
    margin: auto;
}
@media screen and (max-width: 700px) {
    .rsm_cnt{
        flex-direction: column;
    }
    .rsm_txt{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-bottom: 4rem;
        text-align: center;
    }
    .rsm__ h1{
        margin: auto !important;
    }

}
.dp_input{
    background: transparent;
    position: relative;
    z-index: 0;
}
.dp_input_img{
    /* background-image: url(./img/WEB_EACHOTHER-24.png); */
    /* background-position: center; */
    grid-column: none !important;
    height: 5rem !important;
    width: 82% !important;
    margin: 0;
    position: absolute;
    top: -14px;
    left: -10px;
    z-index: 1;
}
input{
    font-family: 'Abhaya Libre', serif;
    font-size: 2.4rem;
    color: var(--color-white);
    position: absolute;
    background: transparent;
    height: 3.2rem;
    width: 78%;
    z-index: 10;
    border: none;
}
input:focus{
    outline: 4px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 700px) {
    input{
        font-family: 'Abhaya Libre', serif;
        font-size: 1.6rem;
        color: var(--color-white);
        position: absolute;
        background: transparent;
        height: 3.2rem;
        width: 94%;
        z-index: 10;
        /* border: none; */
    }
    .dp_input_img{
        /* background-image: url(./img/WEB_EACHOTHER-24.png); */
        /* background-position: center; */
        grid-column: none !important;
        height: 5rem !important;
        width: 100% !important;
        margin: 0;
        position: absolute;
        top: -14px;
        left: -10px;
        z-index: 1;
    }
}